body {
  background-color: #243644;
  color: red;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.title-text {
  max-width: 90%; /* This will make the image's width up to 100% of the container's width */
  height: auto; /* This will maintain the image's aspect ratio as it scales */
  margin: 20px; 
  margin-top: 10%;
  margin-bottom: 10%;
}

.tut-button {
  background: url("tutorial.png") no-repeat center;
  background-size: contain; 
  background-color: transparent;
  border: none;
  width: 35%; /* adjust width and height according to your image dimensions */
  height: 50px;
  padding: 0;
  margin: 10px 0%;
}

.tut-button:hover {
  cursor: pointer;
  background: url("tutorial_h.png") no-repeat center;
  background-size: contain; 
  background-color: transparent;
  outline: none;
  border: none;
}

.play-button {
  background: url("play.png") no-repeat center;
  background-size: contain; 
  background-color: transparent;
  border: none;
  width: 35%; /* adjust width and height according to your image dimensions */
  height: 50px;
  padding: 0;
  margin: 10px 0%;
}

.play-button:hover {
  cursor: pointer;
  background: url("play_h.png") no-repeat center;
  background-size: contain; 
  background-color: transparent;
  outline: none;
  border: none;
}

.lb-button {
  background: url("leaderboard.png") no-repeat center;
  background-size: contain; 
  background-color: transparent;
  border: none;
  width: 35%; /* adjust width and height according to your image dimensions */
  height: 50px;
  padding: 0;
  margin: 10px 0%;
}

.lb-button:hover {
  cursor: pointer;
  background: url("leaderboard_h.png") no-repeat center;
  background-size: contain; 
  background-color: transparent;
  outline: none;
  border: none;
}

.credit-button {
  background: url("credits.png") no-repeat center;
  background-size: contain; 
  background-color: transparent;
  border: none;
  width: 35%; /* adjust width and height according to your image dimensions */
  height: 50px;
  padding: 0;
  margin: 10px 0%;
}

.credit-button:hover {
  cursor: pointer;
  background: url("credits_h.png") no-repeat center;
  background-size: contain; 
  background-color: transparent;
  outline: none;
  border: none;
}

.quit-button {
  background: url("quit.png") no-repeat center;
  background-size: contain; 
  background-color: transparent;
  border: none;
  width: 35%; /* adjust width and height according to your image dimensions */
  height: 50px;
  padding: 0;
  margin: 10px 0%;
}

.quit-button:hover {
  cursor: pointer;
  background: url("quit_h.png") no-repeat center;
  background-size: contain; 
  background-color: transparent;
  outline: none;
  border: none;
}

.battery5 {
  background: url("battery_5.png") no-repeat center;
  background-size: contain; 
  background-color: transparent;
  border: none;
  width: 500px; /* adjust width and height according to your image dimensions */
  height: 100px;
  padding: 0;
  margin: 10px 0%;
}

.battery5:hover {
  transform: scale(1.05);
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

.battery4 {
  background: url("battery_4.png") no-repeat center;
  background-size: contain; 
  background-color: transparent;
  border: none;
  width: 500px; /* adjust width and height according to your image dimensions */
  height: 100px;
  padding: 0;
  margin: 10px 0%;
}

.battery4:hover {
  transform: scale(1.05);
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

.battery3 {
  background: url("battery_3.png") no-repeat center;
  background-size: contain; 
  background-color: transparent;
  border: none;
  width: 500px; /* adjust width and height according to your image dimensions */
  height: 100px;
  padding: 0;
  margin: 10px 0%;
}

.battery3:hover {
  transform: scale(1.05);
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

.battery2 {
  background: url("battery_2.png") no-repeat center;
  background-size: contain; 
  background-color: transparent;
  border: none;
  width: 500px; /* adjust width and height according to your image dimensions */
  height: 100px;
  padding: 0;
  margin: 10px 0%;
}

.battery2:hover {
  transform: scale(1.05);
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

.battery1 {
  background: url("battery_1.png") no-repeat center;
  background-size: contain; 
  background-color: transparent;
  border: none;
  width: 500px; /* adjust width and height according to your image dimensions */
  height: 100px;
  padding: 0;
  margin: 10px 0%;
}

.battery1:hover {
  transform: scale(1.05);
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

.battery0 {
  background: url("battery_0.png") no-repeat center;
  background-size: contain; 
  background-color: transparent;
  border: none;
  width: 500px; /* adjust width and height according to your image dimensions */
  height: 100px;
  padding: 0;
  margin: 10px 0%;
}

.battery0:hover {
  transform: scale(1.05);
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

#PL1_text {
  font-family: Arial, sans-serif;
  white-space: pre-wrap;
  background-color: blue;  /* change this to your preferred color */
  padding: 10px;
  border-radius: 5px;
}

.modal-content {
  background-color: #f9f9f9;
  color: black;
}
.modal-header {
  background-color: #f2f2f2;
  color: black;
}

.custom-dialog .ms-Dialog-main {
  background-color: #f9f9f9;
  color: black;
}
.custom-dialog .ms-Dialog-title {
  color: black;
}
